.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.slice-silac-svg {
  background-color: white
}

.psm {
  stroke-width: 0.5;
  fill-opacity: 0.9;
}

peptide-pop-over.shadow {
  fill:black
}

.peptide-pop-over {
  fill: white;
  fill-opacity: 0.9;
  stroke: black;
  stroke-width: 0.5;
}

.peptide-pop-over-title {
    font-weight:normal;
}

.peptide-pop-over-value {
    font-weight:bold;
}

.theo-prot-weight {
    stroke-dasharray: 0.9;
    stroke-width: 0.5;
    stroke: darkgrey;
}

.y-axis {
    font-size: 50%;
    font-weight: lighter;
}

.y-axis line {
    stroke: #404040;
    stroke-width: 0.5;
}

.y-axis path {
    stroke: #404040;
    stroke-width: 0.5;
}

.y-axis text {
    fill: #404040
}

.x-axis {
    font-size: 50%;
    font-weight: lighter;
}

.x-axis line {
    stroke: #404040;
    stroke-width: 0.5;
}

.x-axis path {
    stroke: #404040;
    stroke-width: 0.5;
}

.x-axis text {
    fill: #404040
}

.main-g .selection {
    stroke: none;
    fill: grey;
}

.aa-bar {
    font-family: "Lucida Console", Monaco, monospace;
    fill: #404040;
}

.pep-aa {
    font-family: "Lucida Console", Monaco, monospace;
    fill: #404040;
    text-anchor: middle;
}

.pep-aa-rect {
    fill-opacity:0.3;
}

#sib-logo {
    padding-top: 10px;
    padding-left: 10px;
}

.dropdown-menu {
    width: 250px;
}

.sample-menu-dropdown {
    padding-left: 15px;
    padding-right: 15px;
}

.sample-menu-item {
    text-nowrap: true;
    padding-left: 15px;
}

.ratio-filter-item {
    text-nowrap: true;
    padding-left: 8px;
}

.ratio-filter-input {
    width: 50px;
}

.ratio-filter-line {
    padding-bottom: 5px;
}

.ratio-filter-title {
    padding-bottom: 10px;
}

.ratio-filter-button {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
}


.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    width: 200px;
    height: 34px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 13px;
    border: 1px solid #aaa;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 33px;
    width: 600px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 13px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    max-height: 500px;
    overflow-y: auto;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.loading-svg-icon {
    position: absolute;
    top: 8px;
    left: 180px;
    width: 16px;
    height: 16px;
}

#selection-rect {
    stroke: grey;
    fill: grey;
    fill-opacity: 0.1;
    rx: 2px;
    ry: 2px;
}

.copy-clipboard-button {
    fill: #E4E4E4;
    stroke: #CACACA;
    rx: 2px;
    ry: 2px;
}

.copy-clipboard-button:hover{
    fill: #CDCDCD;
    stroke: #B5B5B5;
    cursor: pointer;
}

.copy-clipboard-button:active{
    fill: #B6B6B6;
    stroke: #A1A1A1;
}

.copy-clipboard-button-text{
    pointer-events: none;
}

.peptide-pop-over-close:hover{
    cursor: pointer;
}

.center-column{
    text-align: center;
}
